<div class="card bordered shadow-xl">
    <div class="avatar mx-auto mt-2">
        <div class="mb-8 w-36 h-36 mask mask-hexagon">
            <img src="../../../assets/vmp.svg" alt="pool logo">
        </div>
    </div>
    <div class="card-body">
        <h2 class="card-title">Vampire Pool</h2>
        <div class="flex items-center mb-2">
            <div class="badge badge-secondary mr-1">New</div>
            <div class="badge badge-accent" *ngIf="pool">Fee {{ pool.depositFee }}%</div>
        </div>
        <p class="font-bold">Deposit VMP - Earn VMP</p>
        <div class="justify-end card-actions">
            <button (click)="toggleModal()" for="my-modal-2" class="btn btn-secondary modal-button">Manage</button>
        </div>
    </div>
</div>

<div class="modal" [id]="modalId">
    <div class="modal-box flex flex-col justify-center items-center">

        <div class="shadow-xl stats flex w-full overflow-x-scroll">
            <div class="stat place-items-center place-content-center">
                <div class="stat-desc text-primary opacity-100">
                    <fa-icon [icon]="aprIcon" size="lg"></fa-icon>
                </div>
                <div class="stat-title">APR</div>
                <div class="stat-value" *ngIf="pool">{{ pool.apr! | kformat }}%</div>
            </div>
            <div class="stat place-items-center place-content-center">
                <div class="stat-desc text-primary opacity-100">
                    <fa-icon [icon]="walletIcon" size="lg"></fa-icon>
                </div>
                <div class="stat-title">Tokens in your wallet</div>
                <div class="stat-value" *ngIf="pool">{{ pool.walletTokens! | ethformat | kformat }}</div>
            </div>
            <div class="stat place-items-center place-content-center">
                <div class="stat-desc text-primary opacity-100">
                    <fa-icon [icon]="depositIcon" size="lg"></fa-icon>
                </div>
                <div class="stat-title">Tokens deposited</div>
                <div class="stat-value" *ngIf="pool">{{ pool.depositedTokens! | ethformat | kformat }}</div>
            </div>
            <div class="stat place-items-center place-content-center">
                <div class="stat-desc text-primary opacity-100">
                    <fa-icon [icon]="farmingIcon" size="lg"></fa-icon>
                </div>
                <div class="stat-title">Tokens to harvest</div>
                <div class="stat-value" *ngIf="pool">{{ pool.pendingReward! | ethformat | kformat }}</div>
            </div>
        </div>

        <div class="form-control w-full">
            <label class="label flex justify-between">
                <span class="label-text">Deposit VMP</span>
                <div>
                    <button class="btn btn-link">MAX</button>
                </div>
            </label>
            <div class="flex space-x-2">
                <input type="number" placeholder="0.00" class="w-full input input-primary input-bordered">
                <button class="btn btn-primary">Deposit</button>
            </div>
        </div>

        <div class="form-control mt-2 w-full">
            <label class="label flex justify-between">
                <span class="label-text">Withdraw VMP</span>
                <div>
                    <button class="btn btn-link">MAX</button>
                </div>
            </label>
            <div class="flex space-x-2">
                <input type="number" placeholder="0.00" class="w-full input input-primary input-bordered">
                <button class="btn btn-primary">Withdraw</button>
            </div>
        </div>

        <div class="flex justify-center mt-5">
            <button class="btn btn-outline btn-accent">Just Harvest</button>
        </div>
    </div>
</div>